
.navbar-brand{
    margin: 0 1rem;
}

.content_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e5dada;
} 

.chat {
    height: 85vh;
    margin: 1rem 0;
}