.issue-list{
    background-color:#f0f1ea;
    grid-area: L;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}
.new-issue-box{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    height: 50px; /* Set the height of the box */
    border-radius: 10px;  
    gap:35px;
    padding-left: 20px;
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

.issue-history-box{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Set the height of the box */
    border-radius: 10px;    
    box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}

.issue-list::before {
    content: '';
    height: 50px;
  }

.center-text {
    text-align: center;
  }

  .center-text-no-issue {
    text-align:justify;
  }


