<div class="panel flex_column_center_between">
    <div class="flex_row_center_between panel_item new_item">
        <span class="material-symbols-outlined">
            add
        </span>
        <div class="center-text">New Issue</div>
    </div>
    <div class="panel_item">
        <div class="center-text">Issue History 1</div>
    </div>
    <div class="panel_item">
        <div class="center-text">Issue History 2</div>
    </div>
    <span>You've no new issues yet. Once you've initiated a conversation, then you can access them here.</span>
</div>
