<div class="issue-list">
    <div class="new-issue-box">
        <span class="material-symbols-outlined">
            add
        </span>
        <div class="center-text">New Issue</div>
    </div>
    <div class="issue-history-box">
        <div class="center-text">Issue History 1</div>
    </div>
    <div class="issue-history-box">
        <div class="center-text">Issue History 2</div>
    </div>
    <div class="center-text-no-issue">You've no new issues yet.Once you've initiated a conversation,then you can access them here</div>
</div>
