.issue-list{
    background-color:#f0f1ea;
    grid-area: L;
    display: flex;
    flex-direction: column;
    height: 96vh;
    padding: 30px 20px 0px;
    gap: 10px;
}
.new-issue-box{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    height: 35px; /* Set the height of the box */
    border-radius: 10px;  
    gap:35px;
    padding-left: 20px;
    
}

.issue-history-box{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px; /* Set the height of the box */
    border-radius: 10px;    
    
}



.center-text {
    text-align: center;
  }

.center-text-no-issue {
    margin: 15px 10px;
    font-size: 0.9rem;
}


