.sidebar {
    background-color: #06168f;
    /* grid-area: S; */
    /* display: flex; */
    /* gap:30px; */
    /* flex-direction: column; */
    width: 5vw;
    height: 100vh;
    padding: 0 10px;
    /* padding-top: 100px; */
}

/* .sidebar::before {
    content: '';
    height: 50px;
  } */

.material-symbols-outlined {
    color: rgb(254, 254, 254);
    font-size: 32px;
    margin: 10px;
  }

.selected{
  color: #06168f;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  /* z-index: 1; */
}
/* .selected::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 25px);
  border-radius: 10px;
  background-color: white;
  z-index: -1;
} */

/* 
  


.material-symbols-outlined:nth-child(3),
.material-symbols-outlined:nth-child(4) {
  margin-bottom: 400px;
}

.material-symbols-outlined:not(:first-child) {
    margin-top: 10px;
  } */





