<section class="sidebar flex_column_center_between">
    <!-- <button class="card" (click)="switchView()"> Admin
    </button> -->
    <div class="flex_column_center_between">
        <span class="material-symbols-outlined">
            home
        </span>
        <span class="material-symbols-outlined">
            dashboard
        </span>
        <span class="material-symbols-outlined selected">
            chat
        </span>
    </div>
    <span class="material-symbols-outlined">
        account_circle
    </span>
</section>
