.sidebar {
    background-color: #06168f;
    grid-area: S;
    display: flex;
    gap:30px;
    flex-direction: column;
    height: 100vh;
    /* padding-top: 100px; */
    padding-left: 25px;
}

.sidebar::before {
    content: '';
    height: 50px;
  }

.material-symbols-outlined {
    color: rgb(254, 254, 254);
    font-size: 32px;
    /* flex:1; */
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

.selected{
  color: #06168f;
  position: relative;
  z-index: 1;
}
.selected::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: calc(100% + 10px);
  height: calc(100% + 25px);
  border-radius: 10px;
  background-color: white;
  z-index: -1;
}
  .material-symbols-outlined:hover{
    cursor: pointer;
  }

  


.material-symbols-outlined:nth-child(3),
.material-symbols-outlined:nth-child(4) {
  margin-bottom: 400px;
}

.material-symbols-outlined:not(:first-child) {
    margin-top: 10px;
  }





