/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: bold;
    word-spacing: -0.1em;
    margin:0px;
    height: 100vh;
}


